span.OK {
	color: white;
	background-color: green;
	padding: 1px 12px;
}
div.OK {
	color: white;
	background-color: green;
}

span.WARNING {
	color: black;
	background-color: yellow;
	padding: 1px 12px;
}
div.WARNING {
	color: black;
	background-color: yellow;
}

span.CRITICAL {
	color: white;
	background-color: red;
	padding: 1px 12px;
}
div.CRITICAL {
	color: white;
	background-color: red;
}

span.NA {
	color: black;
	background-color: lightgrey;
	padding: 1px 12px;
}
div.NA {
	color: black;
	background-color: lightgrey;
}

.small {
	font-size: 10px;
}


li div {
    padding-bottom: 0px;
}

.panel li {
	background-color: white;
}

.panel ul {
	margin-left: -40px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.panel ul > li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #E0E0E0;
    padding: 8px 0 8px 10px;
    font-size: 20px;
    font-weight: bold;
    list-style: none;
}

.panel ul > li.group {
    position: relative;
    top: -1px;
    margin-bottom: -2px;
    border-top: 1px solid #7d7d7d;
    border-bottom: 1px solid #999999;
    padding: 1px 10px;
    background: url(listGroup.png) repeat-x;
    font-size: 17px;
    font-weight: bold;
    text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0;
    color: #FFFFFF;
}

.panel ul > li.group:first-child {
    top: 0;
    border-top: none;
}

.panel ul > li > a {
    display: block;
    margin: -8px 0 -8px -10px;
    padding: 8px 32px 8px 10px;
    text-decoration: none;
    color: inherit;
	background-color: white;
    background: url(../iui/listArrow.png) no-repeat right center;
}

.panel ul > li:first-child a {
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.panel ul > li:last-child a {
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.panel ul > li:first-child {
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.panel ul > li:last-child { 
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.rw {
	background: white;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
	padding: 7px;
}

.roundbar > div {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.roundbar > div:first-child {
	border-left: 1px solid black;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.roundbar > div:last-child {
	border-right: 1px solid black;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.cb {
	border: 0px solid black;
	clear: both;
}

.cb2 {
	border: 0px solid black;
	clear: both;
	height: 2px;
}

.r {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
}

.service_listing {
	font-size: 10pt;
}

a.arrow {
    display: block;
    margin: -8px 0 -8px -10px;
    padding: 8px 32px 8px 10px;
    text-decoration: none;
    color: inherit;
    background: url(../iui/listArrow.png) no-repeat right center;
}

